@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.animate__shakeY {
    --animate-duration: 4s;
  }

.animate__fadeOutUp {
    --animate-duration: 2s;  
}
.shadow-top {
  box-shadow: 0 -50px 90px 11px rgb(255, 255, 255);
}